$scroll-bar-width: 8px;

#mobile {
    position: absolute;
    left: 50%;
    top: 30px;
    bottom: 30px;
    overflow: hidden;
    width: $mobile-width;
    margin-left: -$mobile-width / 2;
    background-color: white;
    border-radius: $radius-lg;
    box-shadow: 0 0 30px 0 rgba(34, 195, 170, 0.5);
    transform: translate3d(0, 0, 0);
}

#mobile-head {
    width: 100%;
    height: $mobile-head-height - 1;
    background: white;
}

#mobile-head-title {
    padding: 12px;
    color: $clr-text-light;
    text-align: center;
}

#mobile-body {
    position: absolute;
    top: $mobile-head-height;
    /* bottom 由 JS 动态控制，删除固定值 */
    width: 100%;
    background: #E8F9F6;

    a {
        color: $clr-primary;
        text-decoration: none;
    }
}

#mobile-body-bg {
    width: 100%;
    height: 100%;

    &:before,
    &:after {
        content: '';
        display: block;
        z-index: 10;
    }

    &:before {
        position: relative;
        width: 100%;
        height: 25px;
        background: linear-gradient(rgba(34, 195, 170, 0.1) 0, transparent);
    }

    &:after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15px;
        background: linear-gradient(transparent 0, rgba(34, 195, 170, 0.05) 100%);
    }
}

#mobile-body-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px $distance-h - $scroll-bar-width 16px $distance-h;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    color: $clr-text;
    z-index: 1;

    &::-webkit-scrollbar {
        width: $scroll-bar-width;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $clr-primary-lighter;
        border-radius: $scroll-bar-width / 2;
    }
}

#mock-msg-row {
    position: absolute;
    top: -1000px;
    left: 18px;
    right: 10px;
    visibility: hidden;
}

#mobile-foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: $mobile-foot-height - 1;
    height: auto;
    background: #f7f8fa;
    border-top: 1px solid $clr-border-light;
}

.say-something {
    padding: 0px 25px;
    color: $clr-text-unimportant;
}

#input-hint.clickable {
    cursor: pointer;
}


@media (max-width: 480px) {
    #mobile {
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin-left: 0;
        width: auto;
        border-radius: 0;

        &.has-prompt:after {
            border-radius: 0 !important;
        }
    }

    #mobile-head {
        display: none;
    }

    #mobile-body {
        top: 0 !important;
    }

    #prompt-body {
        border-radius: 0 !important;
    }
}